{% extends 'main.html' %}
{% block content %}

    <div class="header-bar">
        <h1>로그인 화면</h1>
    </div>

    <div class="card-body">
        <form action="" method="post">
            <label>이메일 주소:</label>
            <input type="email" name="email">

            <label>패스워드:</label>
            <input type="password" name="password">

            <input style="margin-top: 10px;" class="button" type="submit" value="Login">
        </form>
        <p>계정이 없습니까? → <a href="{{ url_for('auth.sign_up')}}">Register</a></p>
    </div>
{% endblock %}